:root {
    font-family: 'inter', sans-serif;

}

body {
    height: 100vh;
    margin: 0;
    background: #FFF7ED;
}


h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: initial;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-container {
    height: 100%;
}

.home-main {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46) 0%,
            rgba(0, 0, 0, 0.46) 100%), url('./assets/home-main-img.png'),
        lightgray 0px -65.191px / 100% 178.109% no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 80vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



header {
    display: flex;
    align-items: center;
    padding: 20px 5px;
    background: #FFF7ED;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

header .home-logo {
    margin-right: auto;
    font-weight: 700;
    color: #000;
    font-size: 25.353px;
    font-style: normal;
    font-weight: 900;

}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 0px 10px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}


.home-title {
    text-align: center;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px;
}

.home-filler-text {
    margin-top: 20px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
}

.home-find-vans {
    cursor: pointer;
    margin-top: 60px;
    width: 100%;
    max-width: 550px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #FF8C38;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    transition: background-color 0.2s ease-in-out;
}

.home-find-vans:hover {
    background-color: #dd752b;
}

footer {
    background-color: #161616;
    color: #AAAAAA;
    height: 55px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}

/*   About page styling     */

.about-img {
    background: url('./assets/about-img-extended.jpg'), rgb(255, 255, 255) 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;


    height: 450px;

}

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: #FFF7ED
}

.about-title {
    margin-top: 45px;
    color: #161616;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;

}

.about-filler-text {
    max-width: 870px;
    margin-top: 30px;
    color: #161616;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.about-button-conteiner {

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    background: #FFCC8D;
}

.about-button-title {
    text-align: center;
    color: #161616;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.about-vans {
    cursor: pointer;
    margin-top: 20px;
    padding: 8px 15px;
    border-radius: 10px;
    background: #161616;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    transition: background-color 0.2s ease-in-out;
}

.about-vans:hover {
    background: #3a3939;
}


/*   Vans page styling     */

.van-page {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    background-color: #FFF7ED;
    padding-bottom: 50px;

}

.vans-title {
    padding: 20px;
    color: #161616;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.652px;
}

.filters {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.filters>button {
    cursor: pointer;
    border-radius: 5px;
    background-color: #FFEAD0;
    border: none;
    width: 104px;
    height: 37px;
    padding: 3px 10px;

}

.filters .filters-clear {
    background-color: #FFF7ED;
    color: #4D4D4D;
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.919px;
    text-decoration-line: underline;
}

/*  Van Element styles  */

main.vans-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.van-element {
    width: 150px;
    display: flex;
    flex-direction: column;
}

.van-element img {
    border-radius: 5px;
    width: 100%;
}

.van-element .name {
    color: #161616;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.662px;
}

.van-element .first-row {
    display: flex;
    justify-content: space-between;
}

.van-element .price {
    display: flex;
    flex-direction: column;
}

.van-type {
    margin-top: 5px;
    color: #FFEAD0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 31.662px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: #E17654;
}


.van-type.rugged {
    background-color: #115E59;
}

.van-type.simple {
    background-color: #E17654;
}


.van-type.luxury {
    background-color: #161616;
}


@media (min-width:900px) {
    .filters {
        width: 650px;
        justify-content: space-between;
    }

    main.vans-container {

        gap: 50px;

    }

    .van-element {
        width: 300px;
    }
}

/*  Van details styles  */


.van-detail-container {

    min-height: 82vh;
    padding: 27px;
    background-color: #FFF7ED;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button:visited {}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.van-details-text {
    display: flex;
    flex-direction: column;
}

.van-detail img {
    max-width: 600px;
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail .van-type {
    margin-bottom: 20px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail>i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-description {
    color: #161616;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.919px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-details-text .link-button {


    margin-top: 20px;
    margin-bottom: 40px;
    border: none;
    max-width: 500px;
    padding: 15px 5px;
    border-radius: 4px;
    background: #FF8C38;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
}

@media (min-width:1200px) {
    .van-detail-container {
        padding-left: 100px;

    }

    .van-detail {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
    }

    .van-details-text {
        max-width: 700px;
        margin-left: 150px;
        margin-top: 50px;
    }
}

/*   Host styling   */

.host-nav {
    display: flex;
}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}